Django
django-cors-headers
django-debug-toolbar
django-environ
django-filter
djangorestframework
djangorestframework-simplejwt
djoser
django-axes
django-cleanup
pillow
django-imagekit
django-storages
boto3
python-dotenv
psycopg2
gunicorn
