Django
django-cors-headers
django-debug-toolbar
django-environ
django-filter
PyJWT==2.1.0
djangorestframework
djangorestframework-simplejwt
djoser
django-cleanup
pillow
django-imagekit
django-storages
social-auth-app-django
django-csp
boto3
python-dotenv
psycopg2
gunicorn
