name: Django

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v1.0.0

  # Run tests for any PRs.
  pull_request:

env:
  # TODO: Change variable to your image's name.
  IMAGE_NAME: webserver

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Django UnitTest
        run: |
          if [ -f docker-compose.yml ]; then
            docker-compose --file docker-compose.yml build
            docker-compose --file docker-compose.yml up -d

            for ((i=0; i<15; i++)); do
              if [ docker-compose exec -T $IMAGE_NAME [ ! -f /usr/src/app/.env ] ]; then
                echo "No .env file exist"
                sleep 1
              else
                echo ".env file found"
                break
              fi
            done

            docker-compose exec -T $IMAGE_NAME python3 /usr/src/app/manage.py test
          fi
